/*Importerer Montserrat-fonten fra google fonts som beskrevet i oppgaven*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*Lager root-farger med fargekoder fra oppgavebeskrivelse*/
:root {
    --darkblue: #2A324B;
    --lightblue: #58699D;
    --grey: #E1E5EE;
    --white: #fff;
    --font: 'Montserrat', sans-serif;
}

body {
    background-color: var(--grey);
    font-family: var(--font);
}

p { font-size: 1rem; font-weight: 500; margin: 2rem;}
h1 { font-size: 2.5rem; font-weight: 800;}
h2 { font-size: 1.4rem; font-weight: 700; margin: 2rem;}

nav ul {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    font: var(--font);
    justify-content: center;
    margin: 0;
    padding: 0;
}
/*Kilde Column-gap: https://developer.mozilla.org/en-US/docs/Web/CSS/gap*/

nav a {
    display: inline-block;
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
    background-color: var(--darkblue);
    font-weight: 700;
    justify-content: center;
    max-width: 100%;
}

main {
    display: flex;
    justify-content: center;
   
}

main article {
    position: absolute;
    padding: 3rem;
    box-sizing: border-box;
    background-color: var(--white);
    display: none;
    /*Bredden på menyen + gap i mellom menyknappene*/
    max-width: calc(583.87px + 4rem);
}

/*Bruker :not() gi alle elementer som ikke har klasen kategori display som block-element.
Kilde: https://developer.mozilla.org/en-US/docs/Web/CSS/:not og https://css-tricks.com/almanac/selectors/n/not/*/
article:not(.kategori) {
    display: block;
  }
  
#meny .menyknapp.show a{
    color: var(--darkblue);
    background-color: var(--white);
  }